.wrapper {
	--main-bg-color: dimgray;
	--btn-bg-color: floralwhite;
	--display-bg-color: darkslategray ;
	--white-color: white;
	display: grid;
	grid-template-columns: repeat(4, 4em);
	grid-template-rows: repeat(6, 4em);
	grid-gap: 1em;
	padding: 1em;
	background: var(--main-bg-color);
	border-radius: .25em;
	box-shadow: 15px 15px var(--display-bg-color);
}

.wrapper button {
	background: var(--btn-bg-color);
	border: none;
	text-decoration: none;
	outline: none !important;
	border-radius: .25em;
	box-shadow: 3px 3px var(--display-bg-color);
}

.display {
	grid-column: 1 / 5;
	grid-row: 1;
	background: var(--display-bg-color);
	color: var(--white-color);
	display: flex;
    align-items: center;
	justify-content: flex-end;
	padding: 1em;
	overflow: hidden;
	border-radius: .25em;
}

.zero {
	grid-column: 1 / 3;
	grid-row: 6;
}

.one {
	grid-column: 1;
	grid-row: 5;
}

.two {
	grid-column: 2;
	grid-row: 5;
}

.three {
	grid-column: 3;
	grid-row: 5;
}

.four {
	grid-column: 1;
	grid-row: 4;
}

.five {
	grid-column: 2;
	grid-row: 4;
}

.six {
	grid-column: 3;
	grid-row: 4;
}

.seven {
	grid-column: 1;
	grid-row: 3;
}

.eight {
	grid-column: 2;
	grid-row: 3;
}

.nine {
	grid-column: 3;
	grid-row: 3;
}

.add {
	grid-column: 4;
	grid-row: 4;
}

.subtract {
	grid-column: 4;
	grid-row: 3;
}

.multiply {
	grid-column: 4;
	grid-row: 2;
}

.divide {
	grid-column: 3;
	grid-row: 2;
}

.decimal {
	grid-column: 3;
	grid-row: 6;
}

.clear {
	grid-column: 1 / 3;
	grid-row: 2;
}

.equals {
	grid-column: 4;
	grid-row: 5 / 7;
}